In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('data.csv')

In [4]:
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [5]:
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [6]:
df.head(20)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [7]:
df.tail(20)

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [10]:
print('nÂº de linhas e colunas: ', df.shape)

nÂº de linhas e colunas:  (169, 4)

In [14]:
print('tipo de dados de cada variÃ¡vel:\n', df.dtypes)

tipo de dados de cada variÃ¡vel:
 Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

### Qual a diferenÃ§a entre um atributo e uma funÃ§Ã£o/mÃ©todo no 'pandas'?

Atributos sÃ£o caracterÃ­sticas associadas a um objeto Pandas (como um DataFrame ou uma SÃ©rie). Fornecem informaÃ§Ãµes sobre o objeto, como tamanho, forma, tipo de dados, etc..Pode-se utilizar os atributos diretamente, sem usar parÃªnteses. Exemplos de atributos: .shape, .dtype, .columns, .index, entre outros.
FunÃ§Ãµes (ou mÃ©todos) sÃ£o aÃ§Ãµes que se podem realizar nos objetos Pandas, como por exemplo, cÃ¡lculos, filtragem, ordenaÃ§Ã£o, agregaÃ§Ã£o, entre outros. SÃ£o chamadas utilizando parÃªnteses, e geralmente modificam o objeto original. Exemplos de funÃ§Ãµes/mÃ©todos: head(), tail(), groupby(), etc..

### O que Ã© uma sÃ©rie e um dataframe em 'pandas'? Como se relacionam?

SÃ©ries e DataFrames(DF) sÃ£o estruturas de dados que sÃ£o usadas para armazenar, organizar e manipular dados.
Os DataFrames permitem organizar esses dados de maneira tabular, onde diferentes colunas podem conter diferentes variÃ¡veis e tipos de dados. As SÃ©ries sÃ£o usadas para representar uma Ãºnica coluna ou uma Ãºnica dimensÃ£o de dados, por isso os DF sÃ£o bidimenssionais enquanto que as SÃ©ries sÃ£o unidimenssionais.
Cada coluna de um DF Ã© uma SÃ©ries. As SÃ©ries podem conter dados de qualquer tipo, nÃºmeros, strings, datas, etc.
DataFrames e SÃ©ries tÃªm um Ã­ndice associado para rotular cada uma das linhas.